@model Model.Entity.Convidado
@{
    ViewBag.Title = "Details";
}

<ol class="breadcrumb">
    <li><a href="~/">Descrição do Convidado</a></li>
    <li class="active">@(Model.Nome)</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">Descrição do funcionário</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Código :</dt>
            <dd>@Model.IdConvidado</dd>

            <dt>Nome :</dt>
            <dd>@Model.Nome</dd>

            <dt>Código do Funcionário :</dt>
            <dd>@Model.IdFuncionario</dd>

            <dt>Status Beber :</dt>
            <dd>@Model.Status</dd>

        </dl>
        <div class="form-actions">
            |@Html.ActionLink("Voltar a Lista", "Index");
        </div>
    </div>
</div>