@model Model.Entity.Evento
@{
    ViewBag.Title = "Delatar o Evento";
}

<div class="well well-sm text-primary text-center">
    @ViewBag.MensagemDelete
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <fieldset>

            <div class="form-group">
                @Html.LabelFor(model => model.IdEvento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.IdEvento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome..." } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GastoComida, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.GastoComida, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GastoBebida, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.GastoBebida, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TotalFuncionarios, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.TotalFuncionarios, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TotalConvidados, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.TotalConvidados, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DataEvento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.DataEvento, new { htmlAttributes = new { @class = "form-control", @placeholder = "Data..." } })
                </div>
            </div>

            <div class="form-actions col-md-offset-2">
                <input class="btn btn-primary" type="submit" name="btnexcluir" value="Excluir" />|
                @Html.ActionLink("Voltar a Lista", "Index")
            </div>
        </fieldset>
    </div>
}
<div class="text-primary text-success text-center">
    @ViewBag.MensagemSucesso;
</div>
<div class="text-primary text-danger text-center">
    @ViewBag.MensagemErro;
</div>

